h1 {
  color: #fff;
  font-family: "Aboreto", cursive;
  font-size: 88px;
}

.hero {
  background: #f9ac38;
  text-align: center;
}

.intro-text {
  font-family: "Arya", sans-serif;
  font-size: 42px;
}
/*
font-family: 'Aboreto', cursive;
font-family: 'Arya', sans-serif;
font-family: 'Baskervville', serif;
font-family: 'Luxurious Script', cursive;
font-family: 'News Cycle', sans-serif;
font-family: 'Noto Serif Display', serif;
font-family: 'Yatra One', cursive;
*/
